<div class="main-container">
  <div class="input-area">
    <div class="field">
      <label>FIRST PERSON FULL NAME</label>
      <input id="first-person-name" [(ngModel)]="firstPersonName">
    </div>
    <div class="field">
      <label>SECOND PERSON FULL NAME</label>
      <input id="second-person-name" [(ngModel)]="secondPersonName">
    </div>
    <div class="button-flames-container">
      <button class="button-flames" type="button" (click)="computeFlames()">FLAMES</button>
      <button class="button-flames" type="button" (click)="resetFields()">CLEAR</button>
    </div>
  </div>
  <div *ngIf="result" class="output-area">
    <span>{{ result }}</span>
    <img src="{{ resultImg }}" alt="{{ result }}">
  </div>
</div>
