header {
  top: 0;
  position: sticky;
  z-index: 1000;
  display: grid;
  grid-template-columns: 3fr 2fr 15fr;
  align-items: center;
  justify-items: left;
  color: #151b3f;
  background-color: #f5f5f5;
}

header a {
  text-decoration: none;
  color: inherit;
  margin-left: 2cqw;
  font-size: 3vw;
  border: 0.25vw solid;
  border-radius: 2vw;
}

header a:hover {
  color: #229844;
  border-color: #151b3f;
  box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #229844;
}

header img {
  width: 10vw;
  padding: 5px;
}

header span {
  font-size: 5vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  margin-top: 5cqw;
}

footer a {
  color: black;
}

@media all and (max-width: 400px) {
  footer {
    height: 50px;
    font-size: 1.25cqh;
  }
}

@media all and (min-width: 1000px) {
  footer {
    height: 60px;
    font-size: 1.25cqw;
  }
}
