@if (userDetails) {
  <div class="user-detail">
    <div class="user-input-section">
      <div class="field">
        <label class="size-m">TEAM</label>
        <select class="size-s" [(ngModel)]="currentTeam"
                (change)="updateCurrentTeamMembers()">
          @for (team of teams; track team) {
            <option class="option-teams size-s">{{ team }}</option>
          }
        </select>
      </div>
      <div class="field">
        <label class="size-m">NAME</label>
        <select class="size-s" [(ngModel)]="username" [disabled]="isNameDisabled"
                (change)="isScrumMaster = scrumMaster === username">
          @for (currentTeamMember of currentTeamMembers; track $index) {
            <option class="option-teams size-s">{{ currentTeamMember }}</option>
          }
        </select>
      </div>
      @if (currentTeam !== '') {
        <div class="size-xs field-checkbox">
          <input class="checkbox" type="checkbox" id="ScrumMaster" [(ngModel)]="isScrumMaster"
                 [disabled]="scrumMaster.includes(username)" (change)="scrumMaster = username">
          <label for="ScrumMaster">Check, only if {{ scrumMaster }} is not available and you are the acting Scrum
            master</label>
        </div>
      }
      @if (isScrumMaster) {
        <div class="field">
          <label class="size-m" for="ticketName">TICKET NAME</label>
          <input class="size-s" id="ticketName" [(ngModel)]="ticketName">
        </div>
      }
      <div class="center">
        <button class="button size-m" (click)="enterRoom()">ENTER</button>
      </div>
      @if (openDialog) {
        <app-dialog [message]="'Your scrum master is creating a room for new ticket. Please try again.'"
                    [buttonType]="buttonType.ONLY_PRIMARY_BUTTON"
                    [primaryButtonVisibleText]="'Okay, Understand 🤖'"
                    (sender)="processDialogEvent($event)">
        </app-dialog>
      }
    </div>
    <div class="instruction">
      <span class="size-m uppercase">Instruction</span>
      <ol>
        @for (instruction of instructions; track $index) {
          <li class="size-xs" [innerHtml]="instruction"></li>
        }
      </ol>
    </div>
  </div>
} @else {
  @if (ticketName !== '') {
    <div class="estimation-board">
      <span class="welcome-message size-s">Hello {{ username }}, welcome to Team {{ currentTeam }} story estimation board.</span>
      <span class="general-message size-s">Current request is to estimate the ticket <b>{{ ticketName }}</b></span>
      <div class="sp-cards">
        @for (storyPoint of storyPoints; track $index) {
          <div class="sp-card size-s" [class.disabled]="isDisableSP"
               (click)="updateStoryPoint(storyPoint)">{{ storyPoint }}
          </div>
        }
      </div>
      @if (isScrumMaster) {
        <div>
          <button class="button size-xs" (click)="resetEstimations()">RESET</button>
          <button class="button size-xs" (click)="revealEstimations()">REVEAL</button>
          <button class="button size-xs" (click)="newEstimation()">NEW TICKET</button>
        </div>
      }
      @if (isRevealEstimations) {
        <span class="general-message size-s">Nearest story point above the average is <b>{{ nearestStoryPointAboveAverage }}</b></span>
      }
      <div class="estimations">
        @for (estimation of estimations; track $index) {
          <div class="estimation-card">
            <span>{{ estimation.estimatedBy }}</span>
            <span>{{ isRevealEstimations ? estimation.storyPoint : '🎰' }}</span>
          </div>
        }
      </div>
    </div>
  }
}
