<div class="apps">
  @for (app of apps; track app) {
    <div class="app">
      @if (app.icon === "svg") {
        <!-- Free Icons (https://free-icons.github.io/free-icons/)-->
        <!-- Icon finder (https://www.iconfinder.com/)-->
        <a title="{{ app.name }}" class="svg-icon" (click)="openApp(app.name, app.url)">
          <svg>
            <use [attr.xlink:href]=app.path></use>
          </svg>
        </a>
      } @else {
        <a title="{{ app.name }}" class="material-icons" (click)="openApp(app.name, app.url)">{{ app.icon }}</a>
      }
      <span>{{ app.name }}</span>
    </div>
  }
</div>
@if (openDialog && joke) {
  <app-dialog [message]="joke"
              [buttonType]="buttonType.PRIMARY_AND_SECONDARY_BUTTONS"
              [primaryButtonVisibleText]="'Next Joke'"
              (sender)="processDialogEvent($event)">
  </app-dialog>
}
